html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
   */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  background-color: white;
}
a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
}

.header {
  background-color: #6e1818;
  width: 100%;
  margin-top: 0;
  height: 125px;
}

.headerbox {
  background-color: #6e1818;
  width: 100%;
  margin-top: 0;
  height: 125px;
  flex-direction: row;
}

.headerbox > .logo {
  align-items: center;
  width: 50%;
}

.headerbox > .navopc {
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.headerbox > .navopc > a {
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.headerbox > .navopc > a:hover {
  background-color: #410f0f;
}

.headerbox > .navopc > .dropdown {
  display: inline-block;
  width: 25%;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  display: inline-block;
}

.headerbox > .navopc > .dropdown > a {
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.headerbox > .navopc > .dropdown > .dropdown-contenido {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerbox > .navopc > .dropdown > .dropdown-contenido > a {
  color: black;
  text-decoration: none;
  display: block;
}

.headerbox > .navopc > .dropdown :hover {
  background-color: #140202;
}

.dropdown:hover .dropdown-contenido {
  display: block;
}

.headerbox > .logo > a > .imagen {
  width: 100%;
  height: 80%;
}

.principal-nota {
  flex-flow: column;
  width: 100%;
  height: 600px;
  background: url(http://placecorgi.com/1920/1080);
  justify-content: flex-end;
}

.principal-nota > .noticia-principal {
  justify-content: center;
  align-content: center;
  flex-flow: column;
  background-color: rgb(51, 10, 10, 0.6);
  height: 100px;
}

.principal-nota > .noticia-principal > .titulo {
  font-size: 25px;
  color: white;
  align-self: center;
  font-weight: bold;
}

.principal-nota > .noticia-principal > .desc {
  font-size: 20px;
  color: white;
  align-self: center;
}

.footer {
  background-color: #6e1818;
  width: 100%;
  height: 300px;
}

.footer-box {
  width: 100%;
}

.footer-box > .left {
  width: 30%;
  margin: 0 0;
  flex-flow: column;
  background-color: #6e1818;
}

.footer-box > .right {
  flex-flow: column;
  width: 70%;
  background-color: #6e1818;
}

.footer-box > .right > h3 > a {
  font-size: 18px;
}

.footer-box > .right > h2 {
  font-size: 30px;
  color: white;
}

.footer-box > .left > img {
  width: 80%;
  margin-top: 4%;
}

.footer-box > .left > p {
  width: 60%;
  color: white;
  font-size: large;
}

.Seccion-Titulo {
  background-color: white;
  height: 70%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: gray solid 1px;
  color: #300808;
}

.Deportes-Seccion {
  justify-content: space-between;
  margin-bottom: 50px;
}

.Deportes-Seccion > .left {
  width: 49%;
  height: 400px;
  background: url(http://placecorgi.com/800/400);
  justify-content: flex-end;
  flex-flow: column;
}

.Deportes-Seccion > .left > .noticia-datos {
  flex-flow: column;
  background-color: rgb(51, 10, 10, 0.6);
  height: 15%;
  width: 100%;
}

.Deportes-Seccion > .left > .noticia-datos > .titulo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.Deportes-Seccion > .left > .noticia-datos > .desc {
  font-size: 20px;
  color: white;
}

.Deportes-Seccion > .right {
  width: 49%;
  align-content: space-between;
  flex-flow: column;
}

.Deportes-Seccion > .right > .noticia-pequeña {
  height: 25%;
  width: 100%;
  flex-flow: column;
}

.Deportes-Seccion > .right > .noticia-pequeña > h1 {
  color: #330a0a;
}

.Deportes-Seccion > .right > .noticia-pequeña > p {
  color: #330a0a;
  font-size: 13px;
}

.Esports-Seccion {
  justify-content: space-between;
  margin-bottom: 50px;
}

.Esports-Seccion > .left {
  width: 49%;
  align-content: space-between;
  flex-flow: column;
}

.Esports-Seccion > .left > .noticia-pequeña {
  height: 25%;
  width: 100%;
  flex-flow: column;
}

.Esports-Seccion > .left > .noticia-pequeña > h1 {
  color: #330a0a;
}

.Esports-Seccion > .left > .noticia-pequeña > p {
  color: #330a0a;
  font-size: 13px;
}

.Esports-Seccion > .right {
  width: 49%;
  height: 400px;
  background: url(http://placecorgi.com/800/400);
  justify-content: flex-end;
  flex-flow: column;
}

.Esports-Seccion > .right > .noticia-datos {
  flex-flow: column;
  background-color: rgb(51, 10, 10, 0.6);
  height: 15%;
  width: 100%;
}

.Esports-Seccion > .right > .noticia-datos > .titulo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.Esports-Seccion > .right > .noticia-datos > .desc {
  font-size: 20px;
  color: white;
}
