.principal-nota {
  flex-flow: column;
  width: 100%;
  height: 600px;
  background: url(http://placecorgi.com/1920/1080);
  justify-content: flex-end;
}

.principal-nota > .noticia-principal {
  justify-content: center;
  align-content: center;
  flex-flow: column;
  background-color: rgb(51, 10, 10,0.6);
  height: 100px;
}

.principal-nota > .noticia-principal > .titulo {
  font-size: 25px;
  color: white;
  align-self: center;
  font-weight: bold;
}

.principal-nota > .noticia-principal > .desc {
  font-size: 20px;
  color: white;
  align-self: center;
}

.Seccion-Titulo {
  height: 70%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: gray solid 1px;
}

.Deportes-Seccion {
  justify-content: space-between;
  margin-bottom: 50px;
}

.Deportes-Seccion > .left {
  width: 49%;
  height: 400px;
  background: url(../assets/NoticiaDWM.jpg);
  justify-content: flex-end;
  flex-flow: column;
}

.Deportes-Seccion > .left > .noticia-datos {
  flex-flow: column;
  background-color: rgb(51, 10, 10,0.6);
  height: 15%;
  width: 100%;
}

.Deportes-Seccion > .left > .noticia-datos > .titulo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.Deportes-Seccion > .left > .noticia-datos > .desc {
  font-size: 20px;
  color: white;
}

.Deportes-Seccion > .right {
  width: 49%;
  align-content: space-between;
  flex-flow: column;
}

.Deportes-Seccion > .right > .noticia-pequeña {
  height: 25%;
  width: 100%;
  flex-flow: column;
}

.Deportes-Seccion > .right > .noticia-pequeña > h1 {
  color: #330a0a;
}

.Deportes-Seccion > .right > .noticia-pequeña > p {
  color: #330a0a;
  font-size: 12px;
}

.Esports-Seccion {
  justify-content: space-between;
  margin-bottom: 50px;
}

.Esports-Seccion > .left {
  width: 49%;
  align-content: space-between;
  flex-flow: column;
}

.Esports-Seccion > .left > .noticia-pequeña {
  height: 25%;
  width: 100%;
  flex-flow: column;
}

.Esports-Seccion > .left > .noticia-pequeña > h1 {
  color: #330a0a;
}

.Esports-Seccion > .left > .noticia-pequeña > p {
  color: #330a0a;
  font-size: 12px;
}

.Esports-Seccion > .right {
  width: 49%;
  height: 400px;
  background: url(http://placecorgi.com/800/400);
  justify-content: flex-end;
  flex-flow: column;
}

.Esports-Seccion > .right > .noticia-datos {
  flex-flow: column;
  background-color: rgb(51, 10, 10,0.6);
  height: 15%;
  width: 100%;
}

.Esports-Seccion > .right > .noticia-datos > .titulo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.Esports-Seccion > .right > .noticia-datos > .desc {
  font-size: 20px;
  color: white;
}
